!!!
%html
  %head
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" }
    %script{ :src => "application.js" }
    %link{ :rel=>"stylesheet", :href => "style.css", :type => "text/css", :media => "all" }
  %body
    #header
      %h1
        Craigslist Monitor
    #content
      #instructions
        %p
          Enter your email and a search term to be notified immediately via email any time a new item matching your search term is put on sale at the Portland, OR Craigslist.
      %form.form{ :method => "POST" }
        %input.text.email{ :name => "email", :size => "30", :type => "text", :placeholder => "your email"}
        %input.text.term{ :name => "term", :size => "30", :type => "text", :placeholder => "your search term"}
        %input.button.subscribe{ :name => "subscribe", :type => "submit", :value => "Subscribe" }
        %input.button.manage{ :name => "manage", :type => "submit", :value => "Manage Subscriptions" }
      #loading
        %img{:src => "/loading.gif"}
        %span
          Loading...
      #messages
        %h1
      #subscriptions
      %form.hidden_form{ :method => "POST" }
        %input.text.hidden_email{ :name => "email", :size => "30", :type => "text"}
        %input.text.hidden_term{ :name => "term", :size => "30", :type => "text"}